@font-face {
    font-family: 'MuseoCyrl';
    src: url('../fonts/MuseoCyrl500.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoCyrl';
    src: url('../fonts/MuseoCyrl700.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl_500.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}