* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoCyrl', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, label{
	-webkit-tap-highlight-color: transparent;
}

.err {
        text-align: right;
        background: none;
}

@import './base/variables';
@import './base/fonts';
@import './blocks/header';
@import './blocks/main';
@import './blocks/products';
@import './blocks/products';
@import './blocks/modal';
@import './blocks/header-mobile';
@import './base/media';

