.animate {
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
}

@keyframes fadeInLeft {
    from {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}




