.header-mobile {
    display: none;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    &__wr {
        display: flex;
        justify-content: space-between;
        
    }
    &__link-logo {
        padding-top: 7px;
    }
    &__logo {
        width: 111px;
        height: 40px;
    }
    &__basket {
        width: 30px;
        height: 26px;
        padding-top: 10px;
    }
}